/* Stylesheet for Lightbox by @ZachCreates */

#overlay
{
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  text-align: center;

  color: white;
  background-color: rgba(0,0,0,.7);
}

#overlay img
{
  max-width: 60%;
  margin-top: 10%;
}

#arrowleft
{
	position: relative;
	top: 3pt;
	content: "";
	display: inline-block;
	/* By using an em scale, the arrows will size with the font */
	width: 0.4em;
	height: 0.4em;
	border-right: 0.2em solid white;
	border-top: 0.2em solid white;
	transform: rotate(45deg);
	margin-right: 0.5em;
}

#arrowright
{
	content: "\f347";
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'dashicons';
	padding-left: 3px;
	vertical-align: top;
}